# ChatGPT
DEFAULT_MODEL=gpt3-5
DEFAULT_SYSTEM_PROMPT=You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.

# OpenAI
OPENAI_API_KEY=YOUR_KEY

# Replicate
REPLICATE_API_TOKEN=YOUR_TOKEN

# Google
GOOGLE_API_KEY=YOUR_API_KEY
GOOGLE_CSE_ID=YOUR_ENGINE_ID

# Baidu Translate
BAIDU_TRANSLATE_APPID=YOUR_APPID
BAIDU_TRANSLATE_SECRET=YOUR_SECRET